<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-dark page-navbar gradient">
  <div class="container">
    <a class="navbar-brand logo" href="<%= config.url %>">
      <%= config.title %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item item">
          <% for (var menuItem in theme.menu){ %>
        <li class="nav-item item">
          <a class="nav-link" href="<%- url_for(theme.menu[menuItem]) %>">
            <%= menuItem %></a>
        </li>
        <% } %>
        </li>
      </ul>
    </div>
    <% if (theme.swiftype_key) { %>
      <div class="form-group has-success has-feedback" id="site_search">
        <form class="site-search-form">
            <input type="text" id="st-search-input" name="q" results="0" placeholder="<%= __('search') %>" class="st-search-input st-default-search-input form-control" />
        </form>
      </div>  
    <% } else { %>
      <div id="site_search">
       <div class="form-group">
        <input type="text" id="local-search-input" name="q" results="0" placeholder="<%= __('search') %>" class="st-search-input st-default-search-input form-control"/>
       </div>  
      <div id="local-search-result"></div>
      </div>
    <% } %>
  </div>
</nav>
